*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Zen Old Mincho', serif;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin:50px;
}
h1{
    font-size:40px;
    font-weight:700;
    color: rgb(10, 10, 10);
}
.container{
    width:500px;
    padding:30px;
    background-color: white;
    font-size:20px;

}
.btn{
    margin-top:50px;
    font-size:20px;
    width: 90px;
    height: 45px;
    border-radius:10px;
    width:100px;

}

input[type=text]{
    border-radius:10px;
    border:2px solid white;
}